{% extends "api/base.jinja2" %}

{% block inner %}
  {# this is static for now and not functional yet #}
  <div class="ui stackable equal width grid">
    <div class="right aligned column">
      <button class="ui button">OPTIONS</button>
      <div class="ui buttons">
        <button class="ui button">GET</button>
        <div class="ui floating dropdown icon button">
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">json</div>
            <div class="item">html</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h1>{{ bundle.model.__name__ }} List</h1>
  <pre><strong>{{ request.method }}</strong> {{ request.path }}{% if request.query_string %}?{{ request.query_string }}{% endif %}

<strong>HTTP {{ request.response.status }}</strong>
{% for header, value in request.response.headers.items() %}<strong>{{ header }}:</strong> {{ value }}
{% endfor %}
{{ bundle.json }}</pre>
{% endblock %}
