<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vindaloo{% if title %} - {{ title }}{% endif %}</title>
  {% if request.debug %}
    <link rel="stylesheet" type="text/css" href="{{ request.static_url('vindaloo:static/api/semantic.css') }}">
  {% else %}
    <link rel="stylesheet" type="text/css" href="{{ request.static_url('vindaloo:static/api/semantic.min.css') }}">
  {% endif %}
  {% block extra_head %}{% endblock %}
</head>

<body>
  {% block main %}{% endblock %}
  {% if request.debug %}
    <script type="text/javascript" src="{{ request.static_url('vindaloo:static/api/jquery-3.0.0.js') }}"></script>
    <script type="text/javascript" src="{{ request.static_url('vindaloo:static/api/semantic.js') }}"></script>
  {% else %}
    <script type="text/javascript" src="{{ request.static_url('vindaloo:static/api/jquery-3.0.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ request.static_url('vindaloo:static/api/semantic.min.js') }}"></script>
  {% endif %}
  <script>
    $(document).ready(function() {
      $('.ui.dropdown').dropdown({
        on: 'hover'
      });
      $('.ui.menu a.item').on('click', function() {
        $(this).addClass('active').siblings().removeClass('active');
      });
    });
  </script>
  {% block extra_foot %}{% endblock %}
</body>

</html>
