{% macro form_field(field) -%}
  <div class="field{% if field.errors %} error{% endif %}">
    {{ field.label() }}
    {{ field(**kwargs) }}
  </div>
  {% if field.errors %}
    {% for error in field.errors %}
      <div class="ui error message">
        <p>{{ error }}</p>
      </div>
    {% endfor %}
  {% endif %}
{%- endmacro %}
