{% macro form_field(field) -%}
  <div class="field{% if field.errors %} error{% endif %}">
    {{ field.label() }}
    {{ field(**kwargs) }}
  </div>
  {% if field.errors %}
    {% for error in field.errors %}
      {{ validation_error(error) }}
    {% endfor %}
  {% endif %}
{%- endmacro %}

{% macro validation_error(message) -%}
  <div class="ui error message">
    <p>{{ message }}</p>
  </div>
{%- endmacro %}
