<div class="ui menu">
  <div class="header item">API Browser</div>
  <div class="right menu">
    {% if request.user %}
      <a class="item" href="{{ request.route_url('logout') }}">Log out</a>
    {% else %}
      <a class="item" href="{{ request.route_url('login') }}">Log in</a>
    {% endif %}
  </div>
</div>
